@model IEnumerable<DataAccessLayer.Models.HomeScreenDB>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Home.cshtml";
}


<body>


    @*Top Product*@
    <div class="ads-grid py-sm-5 py-4">
        <div class="container py-xl-4 py-lg-2">
            <!-- tittle heading -->
            <h3 class="tittle-w3l text-center mb-lg-5 mb-sm-4 mb-3">
                <span>O</span>ur
                <span>N</span>ew
                <span>P</span>roducts
            </h3>
            <!-- //tittle heading -->
            <div class="row">
                <!-- product left -->
                <div class="agileinfo-ads-display col-lg-12">
                    <div class="wrapper">
                        <!-- first section -->
                        <div class="product-sec1 px-sm-4 px-5 py-sm-5  py-3 mb-4">
                            <h3 class="heading-tittle text-center font-italic">New Brand Mobiles</h3>
                            <div class="row">
                                <div class="col-md-12 product-men mt-6">
                                    <div class="men-pro-item simpleCart_shelfItem">

                                        <div class="item-info-product text-center border-top mt-4">

                                            <div class="info-product-price my-2">

                                            </div>
                                            <div class="snipcart-details top_brand_home_details item_add single-item hvr-outline-out">
                                                <form action="#" method="post">
                                                    <fieldset>
                                                        <div class="row">
                                                            @foreach (var m in Model)
                                                            {

                                                                <div class="col-md-4">
                                                                    <div class="row">
                                                                        <h4><span id="mobilename" style="color:darkred" @m.Name></span></h4>
                                                                        <h4><span id="mobilename" style="color:darkred" @m.Price></span></h4>
                                                                        <h4><span id="mobilename" style="color:darkred" @m.Details></span></h4>


                                                                        <p>
                                                                            <span class="glyphicon glyphicon-heart" style="color:red;pointer-events:fill"
                                                                                  contextmenu="Added to wish list"></span>

                                                                        </p>
                                                                    </div>

                                                                    <a href="@Url.Action("AllproductDetails", "Home", m)">
                                                                        <img class="a.photo" src="~/images/@m.Imageurl" style="overflow:hidden;position:relative; width:200px; cursor:pointer" />
                                                                    </a>
                                                                    <p>
                                                                        <a class="btn btn-default" href="">view More &raquo;</a>
                                                                    </p>
                                                                    <p>
                                                                        <span class="glyphicon glyphicon-shopping-cart" style="color:green"></span>
                                                                    </p>
                                                                </div>
                                                            }
                                                        </div>
                                                    </fieldset>
                                                </form>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>














    </div>


   
</body>